<div class="cointainer-fluid otherservices">
<div class="d-flex " id="services-nav">
    <div class="icon-container">
        <div class="card">
            <span class="service-icon"><fa-icon [icon]="['fas', 'grip']"></fa-icon></span>
        </div>
        <p class="text-center text-muted">Categories</p>
    </div>
    <div class="icon-container">
        <div class="card">
            <span class="service-icon "><fa-icon [icon]="['fas', 'plane-up']"></fa-icon></span>
        </div>
        <p class="text-center text-muted">Flight</p>
    </div>
    <div class="icon-container">
        <div class="card">
            <span class="service-icon "><fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon></span>
        </div>
        <p class="text-center text-muted">Bill</p>
    </div>
    <div class="icon-container">
        <div class="card">
            <span class="service-icon "><fa-icon [icon]="['fas', 'globe']"></fa-icon></span>
        </div>
        <p class="text-center text-muted">Data plan</p>
    </div>
    <div class="icon-container">
    <div class="card">
        <span class="service-icon"><fa-icon [icon]="['fas', 'circle-dollar-to-slot']"></fa-icon></span>
        
    </div>
    <p class="text-center text-muted">Top up</p>
    </div>
   
</div>
</div>