<div class="product-details-wrapper cointainer-fluid">
  <div class="product-details top nav ">
    <div class="product_detail_nav w-100 m-3">
      <div class="right">
        <a [routerLink]="['../']" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-decoration-none text-dark">
          <fa-icon [icon]="['fas', 'angle-left']" class=" h1"></fa-icon>
        </a>
      </div>
      <div class="left">
        <span class="px-3 h1"><fa-icon [icon]="['fas', 'heart']"style="color:coral"></fa-icon></span>
        <span class="px-3 h1"><fa-icon [icon]="['fas', 'share-nodes']" style="color: rgba(5, 2, 2, 0.855);"></fa-icon></span>
        <span class="px-3 h1"><fa-icon [icon]="['fas', 'bucket']" style="color: rgba(20, 20, 20, 0.855);"></fa-icon></span>
      </div>

    </div>
  </div>
  <div class="card mb-3 m-2" >
      <div class="row row-cols-2 g-0">
        <div class="col-2 shirt-details bg-light ">
          <div class="preview mt-3">
              <img src="assets/img/brown_shirt_back.png" class="img-fluid rounded-start" width="50px" alt="...">
          </div>
          <div class="preview mt-3">
              <img src="assets/img/brown_shirt_hands.png" class="img-fluid rounded-start" width="50px" alt="...">
          </div>
          <div class="preview mt-3">
              <img src="assets/img/brown_shirt_buttons.png" class="img-fluid rounded-start" width="50px" alt="...">
          </div>
          <div class="preview mt-3">
              <img src="assets/img/brown_shirt_pocket.png" class="img-fluid rounded-start" width="50px" alt="...">
          </div>
        
        </div>
        <div class="col-8 card-body p-0">
          <div class="card-img">
              <img src="assets/img/black_brown_shirt.png" class="img-fluid rounded-start" alt="...">
          </div>
        
        </div>
        <div class="card-body pt-2 py-1">
          <span class="text-muted"><fa-icon [icon]="['fas', 'store']" class="text-muted"></fa-icon> tokobaju.id</span>
          <p class="details_text"><b>Essentials Men's Short-Sleeve Crewneck T-Shirt</b></p>
          <div class="rating_price d-flex">
              <span class="text-muted details_text"><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon> 4.9 Ratings </span>
              <span><ul class="text-muted rating_list details_text"><li>2.3k+ Reviews</li><li> 2.9k+ Sold</li></ul> </span>
        </div>
        <ul class="nav nav-tabs" id="aboutTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active " id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">About Item</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">Reviews</button>
          </li>
        
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
              <div class="container pt-2">
                <div class="row row-cols-2 d-flex justify-content-between">
                  <p class="col-6 about_item"><span class="text-muted">Brand: &nbsp;</span><b>chArmkpR</b></p>
                  <p class="col-6 about_item"><span class="text-muted">Color: &nbsp;</span><b>Aprikot</b></p>
                </div>
                <div class="row row-cols-2 d-flex justify-content-between">
                  <p class="col-6 about_item"><span class="text-muted">Category: &nbsp;</span><b>Casual Shirt</b></p>
                  <p class="col-6 about_item"><span class="text-muted">Material: &nbsp;</span><b>Polyester</b></p>
                </div>
                <div class="row row-cols-2 d-flex justify-content-between">
                  <p class="col-6 about_item"><span class="text-muted">Condition: &nbsp;</span><b>New</b></p>
                  <p class="col-6 about_item"><span class="text-muted">Material: &nbsp;</span><b>200g</b></p>
                </div>
                <hr>
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item accordion-less-more " (click)="toggle_view()">
                    
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <h6>Description:</h6>
                        <ul class="text-muted">
                          <li> Long-sleeve dress shirt in classic fit featuring button- down collar</li>
                          <li> Patch Pocket on Left Chest</li>
                          <li> Durable Combination Cotton Fabric</li>
                          <li>  Comfortable and quality dress shirt</li>
                          <li>Go To Classic button down shirt for all special occasions</li>
                        </ul>
                        <p class="text-muted">
                        Chat us if there is anything you need to ask about the product :)
                      </p>
                      </div>
                    </div>
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <span class="collapse {{view}}">See more</span>
                      <span class="collapse {{no_view}}">See less</span>  
                      </button>
                    </h2>
                  </div>
                  
                  </div>
            
              </div>
          </div>
          <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class="d-block m-2 ">
              <h1>Reviews & Ratings</h1>
              <div class="row">
                <div class="col-6 ">
                  <p><span class="display-4">4.9</span><span class="text-muted text-sm">/50</span></p>
                  <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                  <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                  <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                  <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                  <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                </div>
                <div class="col-6">
                  <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;5</p>
                  <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;4</p>
                  <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;3</p>
                  <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;2</p>
                  <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;1</p>
                  
                </div>
        
              </div>
        
            </div>
          </div>
        </div>
        

        </div>
      </div>
      
    </div>
    <div>
    <div class="d-block px-3 m-2 ">
      <h1>Shipping Information</h1>
      <p><span class="text-muted"> Delivery: &nbsp;&nbsp;</span> <b>Shipping from Jakarta, Indonesia</b></p>
      <p><span class="text-muted"> Shipping:&nbsp;&nbsp;</span><b>Free International Shipping</b> </p>
      <p><span class="text-muted"> Arrive: &nbsp;&nbsp;</span><b>Estimated arrival on 25 - 27 Oct 2022</b> </p>

    </div>
    <hr class="mx-3">
    <div class="d-block px-3 m-2 ">
      <h1>Seller Information </h1>
      <div class="d-flex row">
        <div class="col-2">
        <img src="assets/img/backgrou.jpg" class="img-fluid rounded-circle bg-light " width="150px" height="150px" alt="Thifting store">
        </div>
        <div class="col-10">
        <h2 class="h4">Thrifting_Store</h2>
        <p><span class="text-muted">Active 5 Mins ago | 96.7% Positive Feedback</span></p>
        <button class="btn text-success border-success" ><fa-icon [icon]="['fas', 'store']" class="text-success"></fa-icon>&nbsp; View Store</button>
      </div>

      </div>
        

    </div>
    <hr class="mx-3">
    <div class="d-block m-2 " style="margin-bottom: 80px;">
      <h1>Reviews & Ratings</h1>
      <div class="row">
        <div class="col-6 ">
          <p><span class="display-4">4.9</span><span class="text-muted text-sm">/50</span></p>
          <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
          <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
        </div>
        <div class="col-6">
          <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;5</p>
          <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;4</p>
          <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;3</p>
          <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;2</p>
          <p><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>&nbsp;1</p>
          
        </div>

      </div>

    </div>

    <div class="bg-light d-flex justify-content-between px-4 pt-2 fixed-bottom"> 
        <div class="col-6">
          <p class="text-muted">Total Price <br>
            <b class="price_text h3">$18.00</b>
          </p>
        </div>
        <div class="btn-group m-2 col-6" role="group" aria-label="buy now">
          <button type="button" class="btn btn-success px-3"><span><fa-icon [icon]="['fas', 'bucket']"></fa-icon> 1</span></button>
          <button type="button" class="btn btn-secondary text-white px-3">Buy Now</button>
        </div>
  </div>
</div>
    
</div>