.card-product{
    border: none;
    overflow:hidden;
    font-family: 'Jost', sans-serif;
}
#services img {
    object-fit: cover;
    transition: transform 0.2s;
    width: 100%;
}

#services .card {
    border:none;
    overflow: hidden;
    padding : 0px 0px;
}

#services img:hover {
    transform: scale(1.1);
}

#services .card-img {
    height    : 8rem;
    overflow: hidden;
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.details_text{
    font-size:smaller;
    font-family: 'Jost', sans-serif;
    font-weight:bolder !important;

}
.price_text{
    color: #0b9595;
    font-family: 'Jost', sans-serif;
    font-weight:900;
}
.rating_price{
display: flex;
justify-content: space-between;
}
.like-icon{
    transform: translate(-150%, 0%) !important;
    color:black;
    background-color: white;
}
.products{
    display: flex !important;
    flex-direction: row !important;
    // font-size: 30px;
    // text-align: center;
}
.flex-item{
    flex: 50% !important;
}
@media (max-width: 360px) {
    .flex-container {
      flex-direction: column;
    }
  }