  <div class="py-2" id="services">
   
    <div class="row p-0 pt-3 products">
      <div class="p-1 flex-item" *ngFor="let product of products">
        <a [routerLink]="['./product_details']" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-decoration-none text-dark">
        <div class="card shadow-sm">
          <div class="card-img">
            <span>
              <fa-icon [icon]="['far', 'heart']" class="pr-2 mr-2 x-small position-absolute top-0 start-100 like-icon bg-transparent"></fa-icon>
              <img src="{{product['image']}}" class="img-fluid"  height="40%" width="40%" alt="...">
            </span>
          </div>
          <div class="card-body pt-2 py-2">
            <span class="text-muted">Shirt</span>
            <p class="details_text"><b>{{product['desc']}}</b></p>
            <div class="rating_price d-flex"><span class="text-muted details_text"><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon> {{product['rating']}} | {{product['reviews']}}</span>
            <span class="price_text"> ${{product['price']}} </span>
          </div>
          </div>
      </div>
      </a>
    </div>
    </div>
    
  
