<div class="card mb-3 m-2" >
    <div class="row row-cols-2 g-0">
      <div class="col-2 shirt-details bg-light ">
        <div class="preview mt-3">
            <img src="assets/img/brown_shirt_back.png" class="img-fluid rounded-start" width="50px" alt="...">
        </div>
        <div class="preview mt-3">
            <img src="assets/img/brown_shirt_hands.png" class="img-fluid rounded-start" width="50px" alt="...">
        </div>
        <div class="preview mt-3">
            <img src="assets/img/brown_shirt_buttons.png" class="img-fluid rounded-start" width="50px" alt="...">
        </div>
        <div class="preview mt-3">
            <img src="assets/img/brown_shirt_pocket.png" class="img-fluid rounded-start" width="50px" alt="...">
        </div>
       
      </div>
      <div class="col-8 card-body p-0">
        <div class="card-img">
            <img src="assets/img/black_brown_shirt.png" class="img-fluid rounded-start" alt="...">
        </div>
       
      </div>
      <div class="card-body pt-2 py-2">
        <span class="text-muted"><fa-icon [icon]="['fas', 'store']" class="text-muted"></fa-icon> tokobaju.id</span>
        <p class="details_text"><b>Essentials Men's Short-Sleeve Crewneck T-Shirt</b></p>
        <div class="rating_price d-flex">
            <span class="text-muted details_text"><fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon> 4.9 Ratings </span>
            <span><ul class="text-muted rating_list details_text"><li>2.3k+ Reviews</li><li> 2.9k+ Sold</li></ul> </span>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
       
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>test tab for user cases</p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p>profile tab</p>
        </div>
      </div>
      

      </div>
    </div>
  </div>