.top-nav{
    // background-color:beige;
    margin:0px !important;
}
.badge{
    font-size: x-small !important;
  }
  fa-icon{
    color:rgb(113, 110, 110);
    border-color: black;
  }
  .notification{
    justify-content:flex-start;
    display: flex;
  }