<div class="cointainer-fluid dashboard pt-2 ">
    <div class="top-nav">
        <div class="row m-3">
            <div class="col-9">
                <app-search></app-search>
            </div>
            <div class="col-3 notification">
                <div class="row d-flex align-content-center">
                    <div class="col-6">
                        <span class="h3 position-relative"><fa-icon [icon]="['fas', 'bucket']"></fa-icon>
                            <span class="x-small position-absolute top-0 start-100 translate-middle badge  bg-danger">
                             1
                            </span>
                        </span>
                    </div>
                    <div class="col-6">
                        <span class="h3 position-relative ml-2 mr-2"><fa-icon [icon]="['far', 'message']"></fa-icon>
                            <span class="x-small position-absolute top-0 start-100 translate-middle badge  bg-danger">
                            9+
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <div class="product-couresul">
        <img src="assets/img/large_display.png"  class="img-fluid">
    </div>
    <div>
        <app-addonservices></app-addonservices>
    </div>

    <div class="product-display m-4">
        <div class="row clearfix bestseller-banner">
            <h1 class="col-8">Best Seller</h1>
            <p class="text-success col-4 "> see more</p>
        </div>
        <app-product></app-product>
    </div>
    <div>
        <!-- test -->
        
    </div>
</div>
