<div class="cointainer-fluid dashboard pt-2 ">
    <div class="top-nav">
        <div class="row m-3">
            <div class="col-9">
                <app-search></app-search>
            </div>
            <div class="col-3 notification">
                <div class="row d-flex align-content-center">
                    <div class="col-6">
                        <span class="h3 position-relative"><fa-icon [icon]="['fas', 'bucket']"></fa-icon>
                            <span class="x-small position-absolute top-0 start-100 translate-middle badge  bg-danger">
                             1
                            </span>
                        </span>
                    </div>
                    <div class="col-6">
                        <span class="h3 position-relative ml-2 mr-2"><fa-icon [icon]="['far', 'message']"></fa-icon>
                            <span class="x-small position-absolute top-0 start-100 translate-middle badge  bg-danger">
                            9+
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <div class="product-couresul">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="img-fluid img-dark" src="assets/img/large_display.png" alt="slide">
              <div class="cointainer-fluid" style="background-color: rgba(0, 0, 0, 0.677);">
                <div class="carousel-caption text-left" style="left: 3;text-align: left;">
                  <h1 class="display-1 text-black ">80% OFF</h1>
                  <p class="text-black text-xl">discover fashion that suits to your style</p>
                  <p><a class="btn btn-lg btn-secondary" href="#" role="button">Check this out</a></p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div>
        <app-addonservices></app-addonservices>
    </div>

    <div class="product-display m-4">
        <div class="row clearfix bestseller-banner">
            <h1 class="col-8">Best Seller</h1>
            <p class="text-success col-4 "> see more</p>
        </div>
        <app-product></app-product>
    </div>
    <div class="navigation fixed-bottom  bg-light pt-2 px-4 br-8" >

        <div class="d-flex justify-content-between" id="main-nav">
            <div class="icon-container justify-content-center">
                <div class="card bg-light">
                    <span class="service-icon"><fa-icon [icon]="['fas', 'home']" style="color:#0b9595"></fa-icon></span>
                </div>
                <p class="text-center text-muted">Home</p>
            </div>
            <div class="icon-container">
                <div class="card bg-light">
                    <span class="service-icon "><fa-icon [icon]="['fas', 'ticket']"></fa-icon></span>
                </div>
                <p class="text-center text-muted">Voucher</p>
            </div>
            <div class="icon-container">
                <div class="card bg-light">
                    <span class="service-icon "><fa-icon [icon]="['fas', 'wallet']"></fa-icon></span>
                </div>
                <p class="text-center text-muted">Wallet</p>
            </div>
            <div class="icon-container">
                <div class="card bg-light">
                    <span class="service-icon "><fa-icon [icon]="['fas', 'gear']"></fa-icon></span>
                </div>
                <p class="text-center text-muted">Setting</p>
            </div>
            
           
        </div>
        
    </div>
</div>
